export const applicationEnv = {
  "databaseHost": "",
  "databasePort": 5432,
  "databaseUser": "",
  "databasePassword": "",
  "databaseName": "",
  "linksConfigPath": "./config/links.yaml",
  "statsOnlineThresholdMinutes": 10,
  "statsExpireHours": 24,
  "logLevel": "info",
  "oidcOpenidAutoDiscoveryUrl": "",
  "oidcClientId": "",
  "oidcClientSecret": ""
};
